*{
  box-sizing:border-box;
}

.App{
  width: 100%;
  top: 0px;
  left:0px;
  position: absolute;
}

.full-content{
  height: 100px;
  max-width: 1920px;
  margin: 0 auto;
  top: 0px;
}

header{
  width: 100%;
  position: relative;
  height: auto;
}

main{
  width: 100%;
  position: relative;
  height: auto;
}

footer{
  width: 100%;
  position: relative;
  height: auto;
}
